html {
  /*
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center; */
}

body {
  max-width: 500px;
  margin: 20 auto; /*first parameter, 0: top and bottom margins will be set to 0 
                    second parameter, auto: browser automatically determines the left and right margins
                                            browser sets left and right margins equally
                   */
    background-color: Beige;

}

h1{
    display: block; /* makes h1 take up the whole width of a line */
    font-family: "Courier";
    text-align: center;
}

input {
  padding-top: 10px;
  width: 500px;
  height: 80px; /* make sure height of input section can show g, j, y, etc.*/
  font-size: 40px;
  border: 0;
  text-align: center;
  font-family: "Avenir Next", Helevetica, sans-serif; /*font-family supports backup font choices: Helevetica, sans-serif */
  background-color: Beige;
}

input:focus { /* style of the input when it gets focus (e.g. when the input area is clicked) */
  outline: none;
  background-color: White;
}

/* style of placeholder when input gets focus 
input:focus::placeholder{
    color: Black;
} */


/*li is an object of a list. In this case, a li is an object of the defined ul in the HTML file */
li {
  text-align: left;
  font-size: 40px;
  list-style: none;
  margin: 0;
}

li:hover {
  text-decoration: line-through;
}

.myLi.completed {
  /*color: #C3C3C4;*/
    text-decoration: line-through;
}

.myLi {
    position: relative;
    padding: 20px;
   /* border-left: 1px solid #7d82b0;
    border-right: 1px solid #7d82b0;
    border-bottom: 2px solid #7d82b0;
    border-top: 0px solid #7d82b0;*/
}

.myLi .delete-button {
    position: absolute;
    left: 300px;
    bottom: 10px; 
    cursor: pointer;
}


